@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #fafafa;
}

main {
    display: flex;
    width: 100%;
    gap: 140px;
}

.options {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    padding: 20px;
    width: min-content;
    justify-content: space-around;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.options ul {
    list-style: none;
}


.options ul li {
    display: flex;
    align-items: center;
    margin: 40px 4px;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    transition: all .3s;
}

.options ul li svg {
    transition: all .3s;
}

.options ul li:nth-child(7) img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: fill;
}

.options div:nth-child(3) {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.options li:hover {
    background-color: rgba(204, 204, 204, 0.092);
}

.options li:hover svg {
    transform: scale(1.2);
}


a {
    text-decoration: none;
    color: #000;

}

.chatsContainer {
    width: 60%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 10px;
    display: flex;
}

h4 {
    font-family: 'Lato', sans-serif;
}

.chats {
    border-right: 1px solid #ccc;
    width: 30%;
    height: 100%;
}

.info {
    width: 100%;
    text-align: center;
}

#userNameAcc {
    padding-top: 10px;
}


.optionsChat {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.info h4 {
    font-size: 14px;
}

.optionsChat h4:nth-child(2) {
    color: #ccc;
}

.info__chat {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.chatInformation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15.5px;
    border-bottom: 1px solid #ccc;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calls {
    display: flex;
}

.calls ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

.chatContainer {
    width: 100%;
    display: flex;
    height: 550px;
    overflow: auto;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}

.formContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

input {
    width: 90%;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    border: 1px solid #ccc;
}

.bx {
    position: absolute;
    right: 25px;
    bottom: 10px;
    cursor: pointer;
}

.info__chat div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    flex-direction: row;
}

.info__chat div img {
    width: 48px;
    height: 48px;
}

.message {
    border-radius: 40px;
    margin: 10px 20px;
    max-width: 200px;
    padding: 10px 20px;
    word-wrap: break-word;
}

.messageM {
    background-color: #efefef;
    align-self: flex-end;
    justify-self: flex-start;
}

.messageX {
    align-self: flex-start;
    border: 2px solid #efefef;
}

@media only screen and (max-width: 800px) {
    .options {
        width: 130px;
        display: none;
    }

    .chatsContainer {
        width: 100%;
    }

    .options ul li p {
        display: none;
    }
}