* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #fafafa;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 40px;
}


.images {
    position: relative;
}

img {
    width: 100%;
}

.login {
    background-color: #fff;
    padding: 40px;
    height: 490px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
    position: relative;
    text-align: center;

}

.loginContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

input {
    width: 300px;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    outline: none;
    color: #262626dc;
    border-radius: 3px;
    z-index: 10;
}

.image-changed {
    position: absolute;
    z-index: 100;
    width: 268px;
    left: 147px;
    top: 19px;
    height: 548.938px;
}

input:valid+span {
    top: -17px;
    font-size: 12px;
    color: rgba(61, 60, 60, 0.63);
}



form button {
    background-color: #b2dffc;
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}



form div {
    position: relative;
}

form span {
    position: absolute;
    left: 0;
    top: 10px;
    left: 10px;
    color: #2626263f;
    font-size: 14px;
    transition: all .4s;
    user-select: none;
    z-index: 1;
}

form:valid button {
    background-color: #0095f6;
}

.or {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.line {
    width: 50%;
    height: 1px;
    background-color: #ccc;
}

#o {
    color: #ccc;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
}

#facebook {
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.register {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #dbdbdb;
}

div a {
    color: #033f77;
}

.register a {
    font-weight: 500;
    color: #0095f6;
}

.getApp {
    width: 100%;
    position: absolute;
    top: 600px;
}

.apps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    gap: 5px;
    padding: 10px;
}

.apps img {
    height: 40px;
}

@media only screen and (max-width: 930px) {
    .images {
        display: none;
    }
}